<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do App</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>
        <code>To-Do App</code>
    </h1>

    <hr>

    <form method="POST" action="/add" data-th-object="${task}" autocomplete="off">
        <table>

            <!-- TASK NAME -->
            <tr>
                <td>
                    Task name:
                </td>
                <td>
                    <input type="text" name="name" data-th-field="*{name}">

                    <span data-th-if="${#fields.hasErrors('name')}"
                            data-th-errors="*{name}"
                            data-th-errorclass="error">
                    </span>
                </td>
            </tr>

            <!-- PRIORITY -->
            <tr>
                <td>
                    Priority:
                </td>
                <td>
                    <input list="priority_levels" name="priority" data-th-field="*{priority}">
                        <datalist id="priority_levels">
                            <option value="LOW">
                            <option value="MEDIUM">
                            <option value="HIGH">
                        </datalist>
                    
                    <span data-th-if="${#fields.hasErrors('priority')}"
                            data-th-errors="*{priority}"
                            data-th-errorclass="error">
                    </span>
                </td>
            </tr>

            <!-- COMPLETE BY DATE -->
            <tr>
                <td>
                    Complete by:
                </td>
                <td>
                    <input type="date" name="date" data-th-field="*{date}">

                    <span data-th-if="${#fields.hasErrors('date')}" 
                            data-th-errors="*{date}"
                            data-th-errorclass="error">
                    </span>
                </td>
            </tr>
            
            <tr>
                <td>

                </td>

                <td>
                    <button type="add">ADD</button>
                </td>
            </tr>

        </table>

        <div data-th-if="${#fields.hasErrors('global')}">
            <p data-th-each="err : ${#fields.errors('global')}">
                <span data-th-text="${err}" class="error"></span>
            </p>
        </div>
    </form>

    <hr>
    
    <div data-th-if="${#lists.isEmpty(tasks.content)}">
        <code>Looks like you are free!</code>
    </div>

    <div data-th-unless="${#lists.isEmpty(tasks.content)}">
        <table border="1">
            <!-- TABLE HEADERS-->
            <tr>
                <th>
                    Task
                </th>
                <th>
                    Priority
                </th>
                <th>
                    Complete by
                </th>
            </tr>

            <tr data-th-each="t: ${tasks.content}">
                <td>
                    <span data-th-text="${t.name}"></span>
                </td>

                <td>
                    <span data-th-text="${t.priority}"></span>
                </td>

                <td>
                    <span data-th-text="${t.date}"></span>
                </td>
            </tr>
                    
        </table>

        <form method="POST" action="/save">
            <button type="submit">SAVE</button>
        </form>
        
    </div>

</body>
</html>